<section class="about-clinic" id="about">
  <div class="container">
    <div class="about-clinic__container">
      <h2 class="about-clinic__title title">ПРО КЛІНІКУ</h2>
      <div class="about-clinic__info-container">
        <p class="about-clinic__info-text">
          Центр первинної медико-санітарної допомоги (ЦПМСД) — це заклад
          первинної ланки охорони здоров’я, що працює за принципами сімейної
          медицини. Наше головне завдання — забезпечити кожному пацієнту
          доступну, якісну та безпечну медичну допомогу, орієнтовану на
          профілактику, раннє виявлення та підтримку здоров’я. Ми об’єднуємо
          команду досвідчених лікарів, медсестер та молодшого персоналу, які
          дбають про пацієнтів усіх вікових груп — від немовлят до людей
          похилого віку. У своїй роботі ми поєднуємо традиційні медичні підходи
          з сучасними технологіями — електронною системою охорони здоров’я,
          телемедициною та цифровими сервісами для зручності пацієнтів. ЦПМСД —
          це місце, де важливе кожне звернення, а турбота про ваше здоров’я
          починається з довіри, професіоналізму та уваги до деталей.
        </p>
      </div>
    </div>
  </div>
</section>
