<section class="benefits" id="benefits">
  <div class="container">
    <div class="benefits__wrapper">
      <h2 class="benefits__title title">ЧОМУ САМЕ МИ?</h2>

      <ul class="benefits__list list-reset">
        <li class="benefits__list-item">
          <h3 class="benefits__list-item--title">
            Безкоштовна та доступна допомога
          </h3>
          <p class="benefits__list-item--info"></p>
        </li>
        <li class="benefits__list-item">
          <h3 class="benefits__list-item--title">Телемедицина</h3>
          <p class="benefits__list-item--info"></p>
        </li>
        <li class="benefits__list-item">
          <h3 class="benefits__list-item--title">Комплексний підхід</h3>
          <p class="benefits__list-item--info"></p>
        </li>
        <li class="benefits__list-item">
          <h3 class="benefits__list-item--title">Зручність для пацієнтів</h3>
          <p class="benefits__list-item--info"></p>
        </li>
      </ul>
    </div>
  </div>
</section>
