<footer class="footer">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2532.2888387861854!2d26.279754199999996!3d50.6031702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f13cbe7e267d1%3A0x6cab6f9ce827f07e!2s%22Zdorova%20Rodyna%22%20Medychnyy%20Tsentr!5e0!3m2!1sru!2sua!4v1755616962374!5m2!1sru!2sua"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
  <div class="container">
    <div class="footer__container">
      <div class="footer-column">
        <img
          class="footer-column__image"
          src="/assets/images/hero/hero-image.webp"
          alt="Логотип Центру"
        />
        <!-- <h3 class="footer-column__title"></h3> -->
        <p class="footer-column__description">
          Піклуємось про
          <span> Ваше </span>
          здоров'я!
        </p>
      </div>
      <div class="footer-column">
        <p class="footer-column__menu-title">НАВІГАЦІЯ</p>
        <ul class="footer-column__menu">
          <li class="footer-column__menu-item">
            <a class="footer-column__menu-link" href="#about">Про клініку</a>
          </li>
          <li class="footer-column__menu-item">
            <a class="footer-column__menu-link" href="#staff">Лікарі</a>
          </li>
          <li class="footer-column__menu-item">
            <a class="footer-column__menu-link" href="#contacts">Контакти</a>
          </li>
          <li class="footer-column__menu-item">
            <a class="footer-column__menu-link" href="#services">Послуги</a>
          </li>
          <li class="footer-column__menu-item">
            <a class="footer-column__menu-link" href="#contact-form"
              >Записатися</a
            >
          </li>
        </ul>
      </div>

      <div class="footer-column" id="contacts">
        <p class="footer-column__menu-title">КОНТАКТИ</p>
        <ul class="footer-column__menu">
          <li
            class="footer-column__menu-item footer-column__menu-item-location"
          >
            <a
              href="https://www.google.com/maps/place/%22Zdorova+Rodyna%22+Medychnyy+Tsentr/@50.6031702,26.2771793,17z/data=!3m1!4b1!4m6!3m5!1s0x472f13cbe7e267d1:0x6cab6f9ce827f07e!8m2!3d50.6031702!4d26.2797542!16s%2Fg%2F11rbfks5_k?entry=ttu&g_ep=EgoyMDI1MDgxMC4wIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              class="footer-column__menu-link location-link"
            >
              вул. Володимира Стельмаха,
              <span> 18-м, Рівне, </span>
              Рівненська область</a
            >
          </li>
          <li class="footer-column__menu-item footer-column__menu-item-contact">
            <a
              href="tel:+380997061801"
              target="_self"
              class="footer-column__menu-link contact-link"
              >+380 99 706 1801</a
            >
          </li>
          <li class="footer-column__menu-item footer-column__menu-item-contact">
            <a
              href="mailto:star.pmsd@ukr.net"
              target="_self"
              class="footer-column__menu-link mail-link"
              >star.pmsd@ukr.net</a
            >
          </li>
          <li class="footer-column__menu-item footer-column__menu-item-contact">
            <a
              href="https://www.facebook.com/p/%D0%9A%D0%9D%D0%9F-%D0%A1%D1%82%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D0%BB%D1%8C%D1%81%D1%8C%D0%BA%D0%B8%D0%B9-%D1%86%D0%B5%D0%BD%D1%82%D1%80-%D0%BF%D0%B5%D1%80%D0%B2%D0%B8%D0%BD%D0%BD%D0%BE%D1%97-%D0%BC%D0%B5%D0%B4%D0%B8%D0%BA%D0%BE-%D1%81%D0%B0%D0%BD%D1%96%D1%82%D0%B0%D1%80%D0%BD%D0%BE%D1%97-%D0%B4%D0%BE%D0%BF%D0%BE%D0%BC%D0%BE%D0%B3%D0%B8-100057327863525/"
              target="_blank"
              class="footer-column__menu-link facebook-link"
            >
              <img
                class="footer-column__link-image"
                src="/assets/images/footer/footer-contact-logo.svg"
                alt="Facebook логотип"
              />

              Facebook</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <ul class="footer-bottom__list">
        <li class="footer-bottom__list-item">
          <p class="footer-bottom__list-text">
            © 2025 КНП "Центр первинної медичної допомоги"
          </p>
        </li>
        <li class="footer-bottom__list-item">
          <button
            class="footer-bottom__list-btn footer-bottom__list-link"
            id="privacyPolicyModalOpen"
          >
            Політика конфіденційності
          </button>
        </li>
        <li class="footer-bottom__list-item">
          <button
            class="footer-bottom__list-btn footer-bottom__list-link"
            id="personalDataModalOpen"
          >
            Згода на обробку персональних даних
          </button>
          <!-- <a href="#" class="footer-bottom__list-link"
            >Згода на обробку персональних даних</a
          > -->
        </li>
      </ul>
    </div>
  </div>
</footer>
