<header class="header">
  <div class="container">
    <div class="header__container">

      <button class="header__burger-btn list-reset" id="burger-btn" aria-label="Открыть меню">
        <span></span><span></span><span></span>
      </button>

      <nav class="header__menu" id="mobile-menu">
        <ul class="header__menu-list list-reset">
          <li class="header__menu-list-item">
            <a href="#about" class="header__menu-list-link">ПРО КЛІНІКУ</a>
          </li>
          <li class="header__menu-list-item">
            <a href="#staff" class="header__menu-list-link">ЛІКАРІ</a>
          </li>
          <li class="header__menu-list-item">
            <a href="#contacts" class="header__menu-list-link">КОНТАКТИ</a>
          </li>
          <li class="header__menu-list-item">
            <a href="#services" class="header__menu-list-link">ПОСЛУГИ</a>
          </li>
          <li classs="header__menu-list-item">
            <a href="#contact-form" class="header__menu-list-link">ЗАПИСАТИСЯ </a>
          </li>
        </ul>
      </nav>
      
    </div>
  </div>
</header>