<section class="personal-data">
  <div class="modal" id="personalDataModal">
    <div class="modal__box">
      <button class="close-modal__btn" id="personalDataModalClose">
        <img
          class="close-modal__image"
          src="/assets/images/privacy/close-icon.svg"
          alt="Close"
        />
      </button>
      <h1 class="personal-data__title">Згода на обробку персональних даних</h1>
      <p class="personal-data__subtitle">
        Я, заповнюючи та надсилаючи форму на цьому вебсайті, добровільно надаю
        свою згоду [Назва клініки / медичного закладу] на обробку моїх
        персональних даних, а саме: прізвища, імені, по батькові, номера
        телефону, а також іншої інформації, яку я самостійно зазначаю у формі
        (наприклад, опис симптомів чи скарг).
      </p>
      <h2 class="personal-data__title">
        Обробка персональних даних здійснюється з метою:
      </h2>
      <ul class="personal-data__list">
        <li class="personal-data__list-item">
          забезпечення можливості запису на прийом до лікаря;
        </li>
        <li class="personal-data__list-item">
          організації зворотного зв’язку зі мною;
        </li>
        <li class="personal-data__list-item">
          надання необхідних медичних та інформаційних послуг;
        </li>
        <li class="personal-data__list-item">
          виконання вимог законодавства України у сфері охорони здоров’я.
        </li>
      </ul>

      <p class="personal-data__subtitle">
        Мої персональні дані не підлягають передачі третім особам, окрім
        випадків, передбачених законодавством України. Дані зберігаються
        протягом часу, необхідного для досягнення зазначених вище цілей, та
        захищаються відповідно до вимог чинного законодавства.
      </p>
      <p class="personal-data__subtitle">Я підтверджую, що ознайомлений(а) зі своїми правами як суб’єкта персональних даних, зокрема правом на доступ до своїх даних, їх виправлення, оновлення, обмеження обробки чи вимогу про видалення, відповідно до Закону України «Про захист персональних даних».</p>
      <p class="personal-data__subtitle">Наданням цієї згоди я підтверджую, що вся надана мною інформація є достовірною та такою, що стосується лише мене особисто.</p>
    </div>
  </div>
</section>
