<section class="services" id="services">
  <div class="container">
    <h2 class="services__title title">НАШІ ПОСЛУГИ</h2>
    <div class="services__wrapper">
      <div class="services__card-container services__card--consultations">
        <h2 class="services__card-title">Основні медичні послуги</h2>
        <p class="services__card-description">
          Консультації, діагностика та лікування поширених захворювань, травм,
          фізіологічних станів, включно з вагітністю. Надання невідкладної
          допомоги (яка не потребує екстреного втручання). Направлення до
          спеціалізованої та високоспеціалізованої допомоги.
        </p>
      </div>
      <div class="services__card-container services__card--vaccine">
        <h2 class="services__card-title">Профілактика та обстеження</h2>
        <p class="services__card-description">
          Диспансеризація, планові огляди, щеплення. Освітня робота: гігієна,
          здоровий спосіб життя, санітарна просвіта.
        </p>
      </div>
      <div class="services__card-container services__card--examination">
        <h2 class="services__card-title">Інструментальні обстеження</h2>
        <p class="services__card-description">
          Вимірювання тиску, ваги, зросту, окружності талії. Пікфлоуметрія, ЕКГ.
        </p>
      </div>
      <div class="services__card-container services__card--labaratory">
        <h2 class="services__card-title">Лабораторні дослідження</h2>
        <p class="services__card-description">
          Експрес‑тести: гепатити В/С, тропоніни, вагітність, COVID‑19, ВІЛ.
          Вимірювання глюкози, холестерину. Загальний аналіз крові та сечі.
        </p>
      </div>
      <div class="services__card-container services__card--documents">
        <h2 class="services__card-title">Документальні послуги</h2>
        <p class="services__card-description">
          Видача медичних довідок: листки непрацездатності, направлення на МСЕК,
          свідоцтва тощо. Документальний супровід пацієнтів.
        </p>
      </div>
      <div class="services__card-container services__card--mental">
        <h2 class="services__card-title">Соціальна взаємодія</h2>
        <p class="services__card-description">
          Виявлення, інформування та підтримка жертв домашнього насильства.
          Взаємодія з соціальними службами.
        </p>
      </div>
    </div>
  </div>
</section>
