<section class="staff" id="staff">
  <div class="container">
    <h2 class="staff__title title">Наші лікарі</h2>
    <div class="staff__coontainer">
      <ul class="staff__list">
        <li class="staff__list-item">
          <img
            class="staff__list-image"
            src="../public/assets/images/staff/staff-list-image-7.webp"
            alt="Персональний склад ЦКПМСД"
          />
          <div class="staff__list-info">
            <h2 class="staff__list-title">Антоненко Олександра Равилівна</h2>
            <p class="staff__list-subtitle">
              Генеральний директор, лікар терапевт
            </p>
          </div>
        </li>
        <li class="staff__list-item">
          <img
            class="staff__list-image"
            src="../public/assets/images/staff/staff-list-image-6.webp"
            alt="Персональний склад ЦКПМСД"
          />
          <div class="staff__list-info">
            <h2 class="staff__list-title">Лунякін Віталій Олександрович</h2>
            <p class="staff__list-subtitle">
              Медичний директор, лікар статистик
            </p>
          </div>
        </li>
        <li class="staff__list-item">
          <img
            class="staff__list-image"
            src="../public/assets/images/staff/staff-list-image-5.webp"
            alt="Персональний склад ЦКПМСД"
          />
          <div class="staff__list-info">
            <h2 class="staff__list-title">Лазуренко Олена Миколаївна</h2>
            <p class="staff__list-subtitle">
              Заступник медичного директора з експертизи тимчасової
              непрацездатності, лікар терапевт
            </p>
          </div>
        </li>
        <li class="staff__list-item">
          <img
            class="staff__list-image"
            src="../public/assets/images/staff/staff-list-image-1.webp"
            alt="Персональний склад ЦКПМСД"
          />
          <div class="staff__list-info">
            <h2 class="staff__list-title">Шуст Наталія Вікторівна</h2>
            <p class="staff__list-subtitle">
              Лікар інтерн загальної практики, сімейний лікар
            </p>
          </div>
        </li>
        <li class="staff__list-item">
          <img
            class="staff__list-image"
            src="../public/assets/images/staff/staff-list-image-2.webp"
            alt="Персональний склад ЦКПМСД"
          />
          <div class="staff__list-info">
            <h2 class="staff__list-title">Федоренко Світлана Олександрівна</h2>
            <p class="staff__list-subtitle">
              Лікар загальної практики, сімейний лікар
            </p>
          </div>
        </li>
        <li class="staff__list-item">
          <img
            class="staff__list-image"
            src="../public/assets/images/staff/staff-list-image-3.webp"
            alt="Персональний склад ЦКПМСД"
          />
          <div class="staff__list-info">
            <h2 class="staff__list-title">Чорнуха Єлизавета Ігорівна</h2>
            <p class="staff__list-subtitle">Лікар педіатр</p>
          </div>
        </li>
        <li class="staff__list-item">
          <img
            class="staff__list-image"
            src="../public/assets/images/staff/staff-list-image-4.webp"
            alt="Персональний склад ЦКПМСД"
          />
          <div class="staff__list-info">
            <h2 class="staff__list-title">Аблезгова Лілія Романівна</h2>
            <p class="staff__list-subtitle">
              Лікар загальної практики, сімейний лікар
            </p>
          </div>
        </li>

        <li class="staff__list-item">
          <img
            class="staff__list-image"
            src="../public/assets/images/staff/staff-list-image-8.webp"
            alt="Персональний склад ЦКПМСД"
          />
          <div class="staff__list-info">
            <h2 class="staff__list-title">Іщук Надія Степанівна</h2>
            <p class="staff__list-subtitle">
              Лікар загальної практики, сімейний лікар
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
