@use "vars" as *;

.about-clinic {
  // &__title {
  //   font-weight: 600;
  //   font-size: 28px;
  // }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__info {
    &-text {
      text-align: center;
      font-weight: 400;
      font-size: 20px;
      padding: 20px;

      @media (max-width: 768px) {
        font-size: 18px;
      }
      @media (max-width: 480px) {
        font-size: 16px;
        padding: 15px;
      }
    }

    &-container {
      justify-content: center;
      max-width: 1000px;
      background-color: $light-color;
      border-radius: 20px;
    }
  }
}
