@use "vars" as *;

.benefits {
  margin-top: 100px;
  // &__title {
  //   text-align: center;
  //   text-transform: uppercase;
  // }

  &__list {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 992px) {
      flex-direction: column; // Ставим элементы в столбик
      gap: 20px; // Добавляем отступ между ними
      padding: 0 15px; // Добавляем боковые отступы
    }

    &-item {
      // margin: 0;
      // padding: 0;

      &--title {
        padding: 10px 15px;
        // margin: 1px;
        background-color: $blue-button-color;
        color: $light-color;
        border-radius: 20px;
        // padding: 0;

        @media (max-width: 480px) {
          text-align: center;
        }
      }
    }
  }
}
