.hero {
  &__container {
    display: flex;

    @media (max-width: 768px) {
      justify-content: center;
      text-align: center;
      // min-height: 300px;
    }
  }

  &__wrap {
    &-info {
      padding-left: 15px;
      max-width: 850px;

      @media (max-width: 768px) {
        padding-left: 0; 
        max-width: 100%;
      }
    }
  }

  &__image {
    transform: translateX(0px);
    animation: float 6s ease-in-out infinite;

     @media (max-width: 768px) {
        display: none; // Прячем картинку на экранах <= 768px
      }
  }

  &__text {
    font-weight: 600;
    font-size: 80px;

    @media (max-width: 992px) {
      font-size: 60px; // Промежуточный размер для планшетов
    }
    @media (max-width: 768px) {
      font-size: 42px; // Размер для мобильных
    }
  }
}
