.hero {
  &__container {
    display: flex;
  }

  &__wrap {
    &-info {
      padding-left: 15px;
      max-width: 850px;
    }
  }

  &__image {
    transform: translateX(0px);
    animation: float 6s ease-in-out infinite;
  }

  &__text {
    font-weight: 600;
    font-size: 80px;
  }
}
