@use "vars" as *;

@mixin service-card-bg($image-path) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url(#{$image-path});
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
