@use "vars" as *;

.posts {
  &__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 30px;
  }
  &__link {
    padding: 10px 27px;
    font-weight: 700;
    font-size: 24px;
    border-radius: 20px;
    text-transform: uppercase;
    color: #fff;
    background-color: #0364f4;
    border: 0;
    transition: transform 0.1s ease-in-out;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.post {
  &__title {
    font-size: 26px;
    // color: ;
  }

  &__content {
    font-size: 20px;
  }

  &__date {
    font-size: 14px;
  }

  &__img {
    height: 250px;
    width: 250px;
    border-radius: 20px;
  }
}
