@use "vars" as *;

.posts {
  margin-top: 80px;


// &__wrap {
// display: flex;
// align-items: center;
// justify-content: space-between;
// }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 55px;
  }
  &__link {
    margin-top: 50px;
    padding: 10px 27px;
    font-weight: 700;
    font-size: 24px;
    border-radius: 20px;
    text-transform: uppercase;
    color: #fff;
    background-color: #0364f4;
    border: 0;
    transition: transform 0.1s ease-in-out;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    display: grid; // Вмикаємо Grid-сітку
    grid-template-columns: repeat(3, 1fr); // Створюємо 3 колонки однакової ширини (1fr = 1 частка)
    gap: 30px; // Додаємо відступ (30px) між колонками
    width: 100%; // Переконуємось, що контейнер займає всю доступну ширину
  }
}

.post {
  &__title {
    font-size: 26px;
    // color: ;
  }

  &__content {
    font-size: 20px;
  }

  &__date {
    font-size: 14px;
  }

  &__img {
    height: 250px;
    width: 250px;
    border-radius: 20px;
  }
}
