@use "vars" as *;

.posts {
  &__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.post {
  &__title {
    font-size: 26px;
    // color: ;
  }

  &__content {
    font-size: 20px;
    
  }

  &__date {
    font-size: 14px;
  }

  &__img {
    height: 250px;
    width: 250px;
    border-radius: 20px;
  }
}
