//$var-name: code ;
//@use "vars";

$container-width: 1350px;
$font-family: "Poppins", sans-serif;

// --font-family: "Poppins", sans-serif;
//   --container-width: 1350px;

$light-color: #fff;
$light-bg-color: #e9e9e9;
$dark-color: #252525;
$blue-button-color: #0364f4;
$form-bg-color: #d9d9d9;
